workflows/proposal-pages.json
{
  "name": "HighCraft — proposal pages",
  "nodes": [
    {
      "id": "e714d645-0375-482f-9dc1-e0e252d96064",
      "name": "Proposal page hit",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "parameters": {
        "httpMethod": "GET",
        "path": "proposal",
        "responseMode": "responseNode",
        "options": {
          "ignoreBots": false
        }
      },
      "webhookId": "2acde07e-4b13-408e-9b05-fd6a7426413a"
    },
    {
      "id": "fabf3a3a-12a2-4184-a6d2-c6de8328bf5f",
      "name": "Get proposal row",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        224,
        0
      ],
      "parameters": {
        "resource": "row",
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "mode": "id",
          "value": "YOUR_SALES_LEADS_TABLE_ID",
          "cachedResultName": "sales_leads"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.query.id }}"
            }
          ]
        },
        "returnAll": false,
        "limit": 1
      },
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "id": "524bbe7a-5974-46b4-926c-5098f93ecf31",
      "name": "Render proposal page",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        0
      ],
      "parameters": {
        "jsCode": "// Token-gated branded proposal page. The design mirrors highcraft.io:\n// light editorial base, Source Serif 4 headings, Inter body, single coral\n// accent (#F2617A), deep petrol (#003D4F) feature card.\nconst q = $('Proposal page hit').first().json.query || {};\nconst rows = $input.all().map(i => i.json).filter(r => r && r.id !== undefined && r.page_token);\nconst row = rows[0];\n\nfunction esc(s) {\n  return String(s ?? '').replace(/[&<>\"']/g, c => ({ '&': '&amp;', '<': '&lt;', '>': '&gt;', '\"': '&quot;', \"'\": '&#39;' }[c]));\n}\n\nconst LABELS = {\n  en: { eyebrow: 'Commercial proposal', prepared: 'Prepared for', heard: 'What we heard', solution: 'Proposed solution', first: 'The first step', timeline: 'Timeline', proof: 'Proof it works', relevance: 'Why this matters here', why: 'Why HighCraft', investment: 'Investment', next: 'Next steps', slots: 'Suggested call slots', reply: 'Reply to schedule the call', otherTime: 'Pick another time', by: 'Prepared by', confidential: 'Prepared exclusively for', date: 'Date' },\n  uk: { eyebrow: 'Комерційна пропозиція', prepared: 'Підготовлено для', heard: 'Що ми почули', solution: 'Запропоноване рішення', first: 'Перший крок', timeline: 'Таймлайн', proof: 'Підтверджений досвід', relevance: 'Чому це важливо саме тут', why: 'Чому HighCraft', investment: 'Інвестиція', next: 'Наступні кроки', slots: 'Пропоновані слоти для дзвінка', reply: 'Відповісти та узгодити дзвінок', otherTime: 'Обрати інший час', by: 'Підготував', confidential: 'Підготовлено ексклюзивно для', date: 'Дата' },\n  ru: { eyebrow: 'Коммерческое предложение', prepared: 'Подготовлено для', heard: 'Что мы услышали', solution: 'Предлагаемое решение', first: 'Первый шаг', timeline: 'Таймлайн', proof: 'Подтверждённый опыт', relevance: 'Почему это важно здесь', why: 'Почему HighCraft', investment: 'Инвестиция', next: 'Следующие шаги', slots: 'Предлагаемые слоты для звонка', reply: 'Ответить и назначить звонок', otherTime: 'Выбрать другое время', by: 'Подготовил', confidential: 'Подготовлено эксклюзивно для', date: 'Дата' }\n};\n\nconst NOT_FOUND = '<!doctype html><html lang=\"en\"><head><meta charset=\"utf-8\"><meta name=\"viewport\" content=\"width=device-width, initial-scale=1\"><meta name=\"robots\" content=\"noindex,nofollow\"><title>Not found</title><style>body{margin:0;min-height:100vh;display:flex;align-items:center;justify-content:center;background:#fff;color:#15151C;font-family:Inter,-apple-system,sans-serif}div{text-align:center}h1{font-size:20px;font-weight:600}p{color:#5A5A68;font-size:14px}a{color:#C92B53}</style></head><body><div><h1>This proposal link is not available.</h1><p>Check the link, or write to <a href=\"mailto:you@yourcompany.com\">you@yourcompany.com</a>.</p></div></body></html>';\n\nlet status_code = 200;\nlet html = '';\n\nif (!row || !q.t || String(q.t) !== String(row.page_token) || !row.proposal_json) {\n  status_code = 404;\n  html = NOT_FOUND;\n} else {\n  const p = JSON.parse(row.proposal_json);\n  const _lang = String(p.language || 'en').toLowerCase().slice(0,2).replace('ua','uk');\n  const L = LABELS[_lang] || LABELS.en;\n  const dateStr = (row.received_at || '').slice(0, 10);\n  const mailSubject = encodeURIComponent('Re: ' + (p.title || 'Proposal'));\n\n  const heard = (p.what_we_heard || []).map(b => '<li>' + esc(b) + '</li>').join('');\n  const pillars = (p.proposed_solution || []).map(s => '<div class=\"pillar\"><h3>' + esc(s.title) + '</h3><p>' + esc(s.desc) + '</p></div>').join('');\n  const firstBullets = ((p.first_step && p.first_step.bullets) || []).map(b => '<li>' + esc(b) + '</li>').join('');\n  const phases = (p.timeline || []).map((t, i) => '<div class=\"phase\"><div class=\"chip chip-' + Math.min(i, 2) + '\">' + (i + 1) + '</div><div class=\"phase-body\"><div class=\"phase-head\"><span class=\"phase-name\">' + esc(t.phase) + '</span><span class=\"phase-dur\">' + esc(t.duration) + '</span></div><p>' + esc(t.desc) + '</p></div></div>').join('');\n  const cs = p.case_study || {};\n  const metrics = (cs.metrics || []).map(m => '<div class=\"metric\"><div class=\"metric-value\">' + esc(m.value) + '</div><div class=\"metric-label\">' + esc(m.label) + '</div></div>').join('');\n  const why = (p.why_us || []).map(b => '<li>' + esc(b) + '</li>').join('');\n  const steps = (p.next_steps || []).map((s, i) => '<li><span class=\"step-num\">' + (i + 1) + '</span>' + esc(s) + '</li>').join('');\n  const CAL = 'https://cal.com/YOUR_HANDLE/YOUR_EVENT';\n  const slots = (p.call_slots || []).map(s => '<a class=\"slot\" href=\"' + CAL + '\" target=\"_blank\" rel=\"noreferrer\">' + esc(s) + '</a>').join('')\n    + '<a class=\"slot alt\" href=\"' + CAL + '\" target=\"_blank\" rel=\"noreferrer\">' + L.otherTime + '</a>';\n\n  html = '<!doctype html><html lang=\"' + esc(p.language || 'en') + '\"><head><meta charset=\"utf-8\"><meta name=\"viewport\" content=\"width=device-width, initial-scale=1\"><meta name=\"robots\" content=\"noindex,nofollow\"><title>' + esc(p.title || 'Proposal') + ' · HighCraft.io</title>' + '<meta property=\"og:title\" content=\"' + esc(p.title || 'Proposal') + '\">' + '<meta property=\"og:description\" content=\"' + esc(L.prepared + ' ' + (p.client_company || '')) + '\">' + ((row.person_photo_url || row.company_logo_url) ? '<meta property=\"og:image\" content=\"' + esc(row.person_photo_url || row.company_logo_url) + '\">' : '') + '<link rel=\"preconnect\" href=\"https://fonts.googleapis.com\"><link rel=\"preconnect\" href=\"https://fonts.gstatic.com\" crossorigin><link href=\"https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,400..700;1,8..60,400..700&family=Inter:wght@400;500;600;700&display=swap\" rel=\"stylesheet\"><style>' +\n  '*{box-sizing:border-box;margin:0;padding:0}' +\n  'body{background:#fff;color:#33333F;font-family:Inter,-apple-system,\"Segoe UI\",sans-serif;font-size:16px;line-height:1.65;-webkit-font-smoothing:antialiased;text-rendering:optimizeLegibility}' +\n  '::selection{background:#FBD4DC;color:#2A0A12}' +\n  '.wrap{max-width:880px;margin:0 auto;padding:0 28px}' +\n  'header{padding:30px 0;display:flex;align-items:center;justify-content:space-between}' +\n  '.logo{display:inline-flex;align-items:baseline;font-weight:700;font-size:21px;letter-spacing:-.02em;color:#15151C;text-decoration:none}' +\n  '.logo .slash{color:#F2617A;font-size:24px;line-height:1;margin-right:1px}' +\n  '.h-date{color:#5A5A68;font-weight:600;letter-spacing:.18em;font-size:11px;text-transform:uppercase}' +\n  '.hero{padding:58px 0 52px;border-bottom:1px solid #E2E7E9}' +\n  '.client-chip{margin-top:26px;display:inline-flex;align-items:center;gap:12px;background:#fff;border:1px solid #E2E7E9;border-radius:14px;padding:9px 20px 9px 10px;box-shadow:0 1px 2px rgba(0,61,79,.04),0 12px 32px -16px rgba(0,61,79,.14)}.client-chip img{height:36px;width:36px;object-fit:contain;border-radius:9px;background:#F2F4F5;padding:4px}.client-chip span{color:#15151C;font-weight:600;font-size:14.5px}.chips{display:flex;gap:12px;flex-wrap:wrap;align-items:center}.client-chip img.face{border-radius:50%;background:none;padding:0;object-fit:cover}.client-chip .pcol{display:flex;flex-direction:column;line-height:1.2}.client-chip .pcol small{color:#5A5A68;font-weight:400;font-size:11.5px}' +\n  '.eyebrow{font-weight:600;letter-spacing:.18em;text-transform:uppercase;font-size:12px;color:#5A5A68;margin-bottom:20px}' +\n  'h1{font-family:\"Source Serif 4\",Georgia,serif;font-weight:500;font-size:clamp(32px,5vw,54px);line-height:1.06;letter-spacing:-.025em;color:#15151C;text-wrap:balance}' +\n  '.prepared{margin-top:24px;color:#5A5A68;font-size:15px}' +\n  '.prepared b{color:#15151C;font-weight:600}' +\n  'section{padding:52px 0;border-bottom:1px solid #E2E7E9}' +\n  'h2{font-family:\"Source Serif 4\",Georgia,serif;font-weight:500;font-size:clamp(24px,2.7vw,31px);line-height:1.1;letter-spacing:-.02em;color:#15151C;margin-bottom:24px}' +\n  'ul.checks{list-style:none}' +\n  'ul.checks li{position:relative;padding-left:30px;margin-bottom:12px;color:#33333F}' +\n  'ul.checks li::before{content:\"\";position:absolute;left:0;top:9px;width:14px;height:8px;border-left:2.5px solid #F2617A;border-bottom:2.5px solid #F2617A;transform:rotate(-45deg)}' +\n  '.pillars{display:grid;grid-template-columns:repeat(auto-fit,minmax(230px,1fr));gap:16px}' +\n  '.pillar{border:1px solid #E2E7E9;border-radius:14px;padding:24px;background:#fff;box-shadow:0 1px 2px rgba(0,61,79,.04),0 12px 32px -16px rgba(0,61,79,.14)}' +\n  '.pillar h3{font-family:\"Source Serif 4\",Georgia,serif;font-weight:600;font-size:17.5px;letter-spacing:-.01em;color:#15151C;margin-bottom:10px}' +\n  '.pillar p{color:#5A5A68;font-size:14.5px}' +\n  '.first-card{border-radius:16px;padding:30px 28px;background:linear-gradient(135deg,#003D4F,#002A38);box-shadow:0 2px 4px rgba(0,61,79,.06),0 26px 50px -22px rgba(0,61,79,.28)}' +\n  '.first-card .fc-head{display:flex;align-items:baseline;gap:14px;flex-wrap:wrap;margin-bottom:16px}' +\n  '.first-card .fc-title{font-family:\"Source Serif 4\",Georgia,serif;font-weight:600;color:#fff;font-size:21px;letter-spacing:-.01em}' +\n  '.first-card .fc-dur{color:#F8A0AF;font-weight:600;font-size:12px;letter-spacing:.18em;text-transform:uppercase}' +\n  '.first-card ul.checks li{color:rgba(255,255,255,.88)}' +\n  '.phase{display:flex;gap:18px;margin-bottom:6px;position:relative}' +\n  '.phase:not(:last-child)::before{content:\"\";position:absolute;left:19.5px;top:46px;bottom:-12px;width:1px;background:#E2E7E9}' +\n  '.chip{flex:0 0 40px;width:40px;height:40px;border-radius:50%;display:flex;align-items:center;justify-content:center;font-weight:600;font-size:15px}' +\n  '.chip-0{background:#003D4F;color:#fff}.chip-1{background:#F2617A;color:#fff}.chip-2{background:#E8ECEE;color:#15151C}' +\n  '.phase-body{padding-bottom:26px;flex:1}' +\n  '.phase-head{display:flex;justify-content:space-between;gap:14px;flex-wrap:wrap}' +\n  '.phase-name{font-weight:600;color:#15151C;font-size:15.5px}' +\n  '.phase-dur{color:#C92B53;font-weight:600;font-size:13.5px;white-space:nowrap}' +\n  '.phase-body p{color:#5A5A68;font-size:14.5px;margin-top:6px}' +\n  '.case{border:1px solid #E2E7E9;border-radius:16px;padding:28px;background:#F2F4F5}' +\n  '.case h3{font-family:\"Source Serif 4\",Georgia,serif;font-weight:600;color:#15151C;font-size:18.5px;letter-spacing:-.01em;margin-bottom:12px}' +\n  '.case p{color:#33333F;font-size:15px}' +\n  '.metrics{display:grid;grid-template-columns:repeat(auto-fit,minmax(150px,1fr));gap:16px;margin:24px 0 6px}' +\n  '.metric-value{font-family:\"Source Serif 4\",Georgia,serif;font-weight:600;font-size:42px;color:#F2617A;line-height:1;letter-spacing:-.02em}' +\n  '.metric-label{color:#5A5A68;font-size:13px;margin-top:8px}' +\n  '.relevance{margin-top:18px;padding-top:16px;border-top:1px solid #CDD5D8;color:#33333F;font-size:14.5px}' +\n  '.relevance b{color:#0A4F63;font-weight:600}' +\n  '.invest{font-size:16.5px;color:#33333F;max-width:60ch}' +\n  'ol.steps{list-style:none;counter-reset:s}' +\n  'ol.steps li{display:flex;align-items:flex-start;gap:14px;margin-bottom:14px;color:#33333F}' +\n  '.step-num{flex:0 0 26px;width:26px;height:26px;border-radius:50%;border:1.5px solid #F2617A;color:#C92B53;display:flex;align-items:center;justify-content:center;font-weight:600;font-size:13px;margin-top:1px}' +\n  '.slots-label{margin-top:26px;color:#5A5A68;font-size:12px;text-transform:uppercase;letter-spacing:.18em;font-weight:600}' +\n  '.slots{display:flex;gap:12px;flex-wrap:wrap;margin-top:14px}' +\n  '.slot{background:#F2617A;color:#fff;border:1px solid transparent;border-radius:999px;padding:12px 24px;font-weight:600;font-size:14px;text-decoration:none;box-shadow:0 10px 24px -12px rgba(242,97,122,.7);transition:all .2s}' +\n  '.slot:hover{background:#E5446D;transform:translateY(-1px)}.slot.alt{background:transparent;color:#15151C;border:1px solid #CDD5D8;box-shadow:none}.slot.alt:hover{border-color:#003D4F;color:#003D4F;background:transparent;transform:none}' +\n  '.closing{text-align:center;padding:72px 0 30px;border-bottom:none}' +\n  '.rule{width:64px;height:2px;background:#F2617A;margin:0 auto}' +\n  '.closing h2{border:none;padding:26px 0;font-style:italic;font-weight:500;font-size:clamp(26px,4vw,38px);margin:0}' +\n  'footer{padding:26px 0 48px;text-align:center;color:#6B6B76;font-size:13px}' +\n  'footer a{color:#33333F;text-decoration:none}footer a:hover{color:#C92B53}' +\n  'footer .conf{margin-top:10px;font-size:12px}' +\n  '@media print{.client-chip,.pillar,.case,.first-card,.slot{box-shadow:none}.slot{background:#fff;color:#C92B53;border:1px solid #C92B53}.first-card{-webkit-print-color-adjust:exact;print-color-adjust:exact}}' +\n  '</style></head><body><div class=\"wrap\">' +\n  '<header><a class=\"logo\" href=\"https://highcraft.io\"><span class=\"slash\">/</span>highcraft</a><span class=\"h-date\">' + esc(dateStr) + '</span></header>' +\n  '<div class=\"hero\"><div class=\"eyebrow\">' + L.eyebrow + '</div><h1>' + esc(p.title || 'Proposal') + '</h1><p class=\"prepared\">' + L.prepared + ' <b>' + esc(p.client_company || '') + '</b>' + (p.client_name ? ' · ' + esc(p.client_name) : '') + '</p></div>' +\n  '<div class=\"chips\">' + (row.company_logo_url ? '<div class=\"client-chip\"><img src=\"' + esc(row.company_logo_url) + '\" alt=\"\" onerror=\"this.parentNode.style.display=&quot;none&quot;\"><span>' + esc(p.client_company || '') + '</span></div>' : '') + (row.person_photo_url ? '<div class=\"client-chip person\"><img class=\"face\" src=\"' + esc(row.person_photo_url) + '\" alt=\"\" onerror=\"this.parentNode.style.display=&quot;none&quot;\"><span class=\"pcol\"><span>' + esc(p.client_name || '') + '</span>' + (row.person_headline ? '<small>' + esc(String(row.person_headline).slice(0, 60)) + '</small>' : '') + '</span></div>' : '') + '</div>' + '<section><h2>' + L.heard + '</h2><ul class=\"checks\">' + heard + '</ul></section>' +\n  '<section><h2>' + L.solution + '</h2><div class=\"pillars\">' + pillars + '</div></section>' +\n  '<section><h2>' + L.first + '</h2><div class=\"first-card\"><div class=\"fc-head\"><span class=\"fc-title\">AI Prototype Sprint</span><span class=\"fc-dur\">' + esc((p.first_step && p.first_step.duration) || 'two weeks') + '</span></div><ul class=\"checks\">' + firstBullets + '</ul></div></section>' +\n  '<section><h2>' + L.timeline + '</h2>' + phases + '</section>' +\n  (cs.title ? '<section><h2>' + L.proof + '</h2><div class=\"case\"><h3>' + esc(cs.title) + '</h3><p>' + esc(cs.body || '') + '</p><div class=\"metrics\">' + metrics + '</div>' + (cs.relevance ? '<p class=\"relevance\"><b>' + L.relevance + ':</b> ' + esc(cs.relevance) + '</p>' : '') + '</div></section>' : '') +\n  '<section><h2>' + L.why + '</h2><ul class=\"checks\">' + why + '</ul></section>' +\n  '<section><h2>' + L.investment + '</h2><p class=\"invest\">' + esc(p.investment_note || '') + '</p></section>' +\n  '<section><h2>' + L.next + '</h2><ol class=\"steps\">' + steps + '</ol><div class=\"slots-label\">' + L.slots + '</div><div class=\"slots\">' + slots + '</div></section>' +\n  '<div class=\"closing\"><div class=\"rule\"></div><h2>Show, don\\'t claim.</h2><div class=\"rule\"></div></div>' +\n  '<footer><span>' + L.by + ' </span><a href=\"https://highcraft.io\">HighCraft.io</a> · <a href=\"mailto:you@yourcompany.com\">you@yourcompany.com</a><div class=\"conf\">' + L.confidential + ' ' + esc(p.client_company || '') + '.</div></footer>' +\n  '</div></body></html>';\n}\n\nreturn [{ json: { html, status_code } }];"
      }
    },
    {
      "id": "d29e73e7-d5f0-42f6-9742-957d7743bf39",
      "name": "Serve page",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        672,
        0
      ],
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.html }}",
        "options": {
          "responseCode": "={{ $json.status_code }}",
          "responseHeaders": {
            "entries": [
              {
                "name": "content-type",
                "value": "text/html; charset=utf-8"
              },
              {
                "name": "cache-control",
                "value": "no-store"
              }
            ]
          },
          "enableStreaming": false
        }
      }
    }
  ],
  "connections": {
    "Proposal page hit": {
      "main": [
        [
          {
            "node": "Get proposal row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get proposal row": {
      "main": [
        [
          {
            "node": "Render proposal page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Render proposal page": {
      "main": [
        [
          {
            "node": "Serve page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}